@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
:root{


    --fontsize: 20px;
    --ff: 'Roboto Slab', serif;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    --sidebar-color: rgb(77,77,77);
}


.navbar{

    background: rgb(37,37,37);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items:center;
    position:relative;
    color: rgb(212,212,212);
    width: 100%;
}
.navbar_logo{

    font-family:var(--ff);
    font-size:4vw;
    

}

html{

    margin:0;
    padding:0;
    background-color:rgb(52,52,52);
    font-family: var(--ff);
}

body{
    height : 100vh;

}
/* sidebar */
.sidebar{

    width: 20%;
    background-color:var(--sidebar-color);
    height: 100%;
    position: fixed;
    text-align: center;
    padding: 10px 14px;
    

}
.sidebar header{
    position: relative;
}
.sidebar header .header-text{
    
    font-size: 20px;
    font-weight: 500;
    color: rgb(212,212,212);
    display: flex; 
    flex-direction: column;

}
.header-text .user{
    margin-top: -2px;
}
.header-text .websitename{
    
   font-weight: 600;

}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -21px;
    transform: translateY(-50%);
    background: rgb(255, 255, 255); 
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 50%
    
}
.menu{
    font-family: var(--ff);
}
.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    
}
.sidebar li .icon{
    font-size: 20px;
    color:azure;
    min-width:40px;
    justify-content: center;
}
.sidebar li .text{
    font-size: 20px;
}
.sidebar li a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: var(--tran-02);
   border-radius: 6px;
}
.sidebar li a:hover{
    background: rgb(188, 190, 184);
}
.sidebar li .text{
    color:azure;
}
.sidebar .search-bar{
    background: rgb(52,52,52);
    border-radius: 6px;
}
 .search-bar input{
   height: 100%;
   border: none;
   outline: none;
   width: 100%;
   border-radius: 0px 6px 6px 0px;

}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
    transition: var(--tran-03);
}

.sidebar .menu-bar{
    display: flex;
    flex-direction: column;
    
    
    
}
.sidebar.close{
    width: 88px;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar .menu-links{
  margin-bottom: 100px;
}

